body {
    background-color: rgb(201, 201, 201);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttonInicio {
    font-size: 25px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    border: 0px solid;
    padding: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}

#colPers{
    background-color: lightsteelblue;
    margin-top: 4%;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
}

#imagenLogin{
    width: 50px;
    margin: 20px;
}

::placeholder{
    font-size: 15px;
}

#loginCardStyle{
    border-radius: 1rem;
}

#bannerImg{
    border-radius: 1rem 0 0 1rem;
}

#radioCard{
    float: left;
    margin: 0.3rem;
    border: 0;
}

#radioCardCont{
    border: 0;
}