.buttonCliente {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 1.5%;
}
.blockCliente {
    background-color: black;
}

.objetos {
    margin-top: 15%;
    font-size: 30px;
}

table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }
 th {
    background: #eee;
 }